<%= form_with model: @relationship, url: user_relationships_path(@user.id), method: :delete do |f| %>
 <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit "Unfollow", class: "btn btn-secondary" %>
<% end %>